%form{:method => "post"}
  %div{:style => "text-align: center;"}
    %input{:type=>"password", :class=> "entry", :name => "password", :placeholder => "password", :id => "password"}
    %input{:class=>"button", :type=>"submit", :value=>"Login"}
  %div{:style => "text-align: center; color: red"} #{locals[:error]}
