%div{:style => "text-align: center;"} Please grant us access to your phone number so we can call you in emergencies!
%div{:style => "text-align: center;"}
  %a{:class => "button big", :href => "gnuid:identity%3D#{locals[:haml_id]}%26requested_by%3Dhttp%3A%2F%2Fgnunetidentity.gnu%3A4567%2Flogin%26requested_attrs%3Dphone%26nonce#{rand(10000)}"}
    %img{:src => "https://gnunet.org/sites/default/files/transparent_0_0.png"}
    %span Grant access


