%form{:method => "post"}
  %div{:style => "text-align: center;"} Please register a password for your identity
  %div{:style => "text-align: center;"}
    %input{:type=>"password", :name => "password", :placeholder => "password", :id => "password", :class=>"entry"}
    %input{:class=>"button", :type=>"submit", :value=>"Register"}

